@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobPortal</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JobPortal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


    <style>
        .btn-white-blue {
            background-color: #ffffff;
            color: #0d6efd;
            border: 1px solid #ffffff;
            font-weight: 600;
            padding: 6px 14px;
            margin-left: 8px;
        }

        .btn-white-blue:hover {
            background-color: #e7f1ff;
            color: #0a58ca;
        }
    </style>
</head>
<body>


@{
    var role = Context.Session.GetString("Role");
}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg" style="background-color:#0d6efd;">
    <div class="container">

        <a class="navbar-brand fw-bold text-white"
           asp-controller="Jobs"
           asp-action="Index">
            JobPortal
        </a>
        
        <!-- LEFT MENU -->
        <div class="ms-auto d-flex align-items-center">
            <a class="btn btn-white-blue"
            asp-controller="Home"
            asp-action="About">
                About Us
            </a>
            <a class="btn btn-white-blue"
                   asp-controller="Home"
                   asp-action="Index">
                    Home
            </a>

            
            <a class="btn btn-white-blue"
                   asp-controller="Admin"
                   asp-action="Login">
                    Admin
                </a>
        </div>

        <!-- RIGHT MENU -->
       <!-- <div class="ms-auto d-flex align-items-center">-->
            @if (string.IsNullOrEmpty(role))
            {
                <a class="btn btn-white-blue"
                   asp-controller="Account"
                   asp-action="Login">
                    Sign In
                </a>
            }
            else
            {

                <a class="btn btn-white-blue"
                   asp-controller="Account"
                   asp-action="Logout">
                    Logout
                </a>
                
            }
        </div>
    </div>
</nav>

<!-- BODY -->
<div class="container mt-4">

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Error"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    @RenderBody()
</div>


<footer class="text-center mt-5 mb-3" style="font-weight:600;">
    © 2025 - JobPortal
</footer>

<script>
function goToStep2() {
    document.getElementById('step1').classList.add('d-none');
    document.getElementById('step2').classList.remove('d-none');
    document.getElementById('step1Buttons').classList.add('d-none');
    document.getElementById('step2Buttons').classList.remove('d-none');
}
function goToStep1() {
    document.getElementById('step2').classList.add('d-none');
    document.getElementById('step1').classList.remove('d-none');
    document.getElementById('step2Buttons').classList.add('d-none');
    document.getElementById('step1Buttons').classList.remove('d-none');
}

</script>
</body>
</html>

