@model JobPortal.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow p-4">
            <h3 class="text-center mb-4">Login</h3>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@ViewBag.Error</div>
            }

            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Role</label>
                    <select asp-for="Role" class="form-select">
                        <option>User</option>
                        
                        <option>Organization</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-lg w-100 py-2">
                    Login
                </button>


            </form>

            <hr />

            <div class="text-center">
                <a asp-action="UserRegister">User Registration</a> |
                <a asp-action="OrganizationRegister">Organization Registration</a>
            </div>
        </div>
    </div>
</div>

