@model IEnumerable<JobPortal.Models.Notification>

<h3>Notifications</h3>

<ul class="list-group">
@foreach (var n in Model)
{
    <li class="list-group-item">
        @n.Message
        <span class="float-end text-muted">
            @n.CreatedAt.ToString("dd MMM")
        </span>
    </li>
}
</ul>
